<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Дали имате претходно познавање од јазикот кој сакате да го изучувате</h1>
<form th:action="@{'/mojlevel/prodolzida'}"
      th:method="GET">
    <button type="submit"
            class="btn btn-sm btn-primary cart-product">
        <i>Да</i>
    </button>
</form>
<form th:action="@{'/mojlevel/prodolzine'}"
      th:method="GET">
    <button type="submit"
            class="btn btn-sm btn-primary cart-product">
        <i>Не</i>
    </button>
</form>
</body>
</html>